{
    "DEV_DB_USER":"",
    "DEV_DB_PASSWORD":"",
    "DEV_DB_HOST":"",
    "DEV_DB_AUTHDB":"",

    "LOGGING_SERVICE_LISTEN_PORT":"5006",
    "USER_MANAGEMENT_LISTEN_PORT":"5002",
    "STUDY_SERVICE_LISTEN_PORT":"5003",
    "MESSAGING_SERVICE_LISTEN_PORT":"5004",
    "EMAIL_CLIENT_SERVICE_LISTEN_PORT":"5005",
    "GATEWAY_LISTEN_PORT":"8090",
    "MANAGEMENT_API_GATEWAY_LISTEN_PORT":"8091",

    "LOGGING_SERVICE_HOST":"",

    "WEB_CLIENT_HOST":"9",
    "MESSAGING_CONFIG_FOLDER":"/config/",
    "RECAPTCHA_SECRET":"",
    "STUDY_GLOBAL_SECRET":"",
    "JWT_TOKEN_KEY":"",
    "USE_RECAPTCHA": "false",

    "USE_DELETE_PARTICIPANT_DATA_ENDPOINT": "false",
    "DISABLE_SIGNUP_WITH_EMAIL_ENDPOINT": "false",

    "PUBLIC_WEB_URL":"",
    "APP_INSTANCE": "default",
    "PUBLIC_API_URL": "",
    "PUBLIC_APP_CONTENT_URL":"",
    "PUBLIC_USE_RECAPTCHA": "false",
    "PUBLIC_RECAPTCHA_SITEKEY":"",
    "PUBLIC_APP_TITLE":"Title of the public website",
    "PUBLIC_APP_DESCRIPTION":"Description for public website",
    "PUBLIC_CSP_MEDIA_SRC":"",
    "PUBLIC_CSP_CONNECT_URLS":"http://{{PUBLIC_WEB_URL}} https://{{PUBLIC_WEB_URL}} ws://{{PUBLIC_WEB_URL}}"
}